.body {

  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding: auto;
  border-radius: 0.2em;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  vertical-align: middle;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


.users {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
}

.header {

  margin: 0px 20px 0px 20px;
  text-align: center;
  width: 150px;
}

.id {
  width: 220px;
}

.locked {
  width: 380px;
}

.lockedBy {
  width: 300px;
}


.comments {
  display: flex;
  width: 500px;
}


.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;

}

.navigation div {
  margin-right: 40px;

}

.button {
  color: white;
}

.views {
  font-size: larger;
  margin-bottom: 30px;
}

.reset {
  margin-top: 30px;
}

.editTicket {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content {

  display: grid;
  justify-items: left;
  margin-bottom: 30px;

}

.actions {
  margin-top: 30px;
}

.loading {

  position: absolute;
  z-index: 100;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}